@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

:root {
  --navbar-bg-color: rgba(32, 32, 32);
  --navbar-text-color: lightgray;
  --form-border: solid rgb(255, 255, 255, 0.4) 1px;
  --form-border-radius: 20px;
  --form-padding: 30px 100px;
  --form-bg-color: rgba(32, 32, 32);
  --margin: auto;
  --margin-top: 100px;
  --form-width: 30%;
  --input-bg-color: white;
  --input-border: none;
  --input-margin: 10px 0px;
  --input-padding: 5px 50px;
  --label-font-weight: bolder;
  --label-font-size: 18px;
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Waiting for the Sunrise', cursive;
}

.App {
  font-family: var(--primary-font-family);
  box-sizing: border-box;
  text-align: center;
  background-image: url('background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  color: white;
}

.loading-page {
    font-family: var(--primary-font-family);
    box-sizing: border-box;
    text-align: center;
    background-image: url('background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white;
  /* margin: var(--margin);
  margin-top: var(--margin-top);
  width: 50%; */
}
