@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap');

.App {
  font-family: 'ABeeZee', sans-serif;
  box-sizing: border-box;
  text-align: center;
  background-image: url('background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
