.favourite-recipes {
    margin: var(--margin);
    margin-top: var(--margin-top);
}

.favourite-recipes h1 {
    font-family: var(--secondary-font-family);
    font-size: 3em;
}

.favourites-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 70px;
}

.favourites-list img {
    height: 100px;
}

.one-favourite {
    border: var(--form-border);
    border-radius: var(--form-border-radius);
    padding: 20px 0px;
    width: 250px;
}

.one-favourite a {
    text-decoration: none;
    color: white
}