.profile {
    padding: 200px 400px;
}

.profile img {
      display: inline-block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background-color: white;
}

.profile-details {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px;
        margin-left: 50px;
}

.profile-info {
    margin: 0px 50px;
    text-align: left;
}

.form-popup {
        position: fixed;
        top: 500px;
        left: 450px;
        z-index: 9;
        height: 100px;
        width: 220px;
        background-color: rgba(83, 86, 90, 1);
}

.form-popup form {
    padding: 25px;
}