.profile {
    margin: var(--margin);
    margin-top: var(--margin-top);
    width: 60%
}

.profile img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.profile-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 50px;
    padding: 50px;
    /* background-color: rgb(255, 255, 255, 0.5); */
    border: var(--form-border);
    border-radius: var(--form-border-radius);
}

.profile-info {
    margin: 0px 50px;
    text-align: left;
}

.form-popup {
    position: fixed;
    top: 500px;
    left: 450px;
    height: 100px;
    width: 100px;
     /* background-color: rgba(32, 32, 32); */
}

.form-popup form {
    padding-top: 20px;
}