.profile {
    margin: var(--margin);
    margin-top: var(--margin-top);
    width: 50%
}

.profile h1 {
    font-family: var(--secondary-font-family);
    font-size: 3em;
}

.profile-picture img {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
}

.profile-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 50px;
    padding: 50px;
    border: var(--form-border);
    border-radius: var(--form-border-radius);
}

.profile-picture {
    flex: 50%;
}

.profile-info {
    text-align: left;
    flex: 50%;
}

.form-popup input {
    background-color: rgb(255, 255, 255, 0.5);
    width: 175px;
}
