.logout {
    margin: var(--margin);
    margin-top: var(--margin-top);
    width: 60%
}

.button-text {
    color: var(--secondary-button-text-color);
    text-decoration: var(--secondary-button-text-decoration);
    font-size: var(--secondary-button-text-font-size);
    font-weight: var(--secondary-button-text-font-weight);
}