.signup-form {
  border: none;
  border-radius: var(--form-border-radius);
  background-color: var(--form-bg-color);
  padding: var(--form-padding);
  margin: var(--margin);
  margin-top: var(--margin-top);
  width: var(--form-width)
}

.signup-form h1 {
    font-family: var(--secondary-font-family);
    font-size: 3em;
}

label {
    font-weight: var(--label-font-weight);
    font-size: var(--label-font-size)
}

input, select {
    background-color: var(--input-bg-color);
    border: var(--input-border);
    margin: var(--input-margin);
    padding: var(--input-padding)
}

