.signup-form {
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  /* background-color: rgb(255, 255, 255, 0.5); */
  padding: var(--form-padding);
  margin: var(--margin);
  margin-top: var(--margin-top);
  width: var(--form-width)
}

label {
    font-weight: var(--label-font-weight);
    font-size: var(--label-font-size)
}

input, select {
    background-color: var(--input-bg-color);
    border: var(--input-border);
    margin: var(--input-margin);
    padding: var(--input-padding)
}

