.login-form {
  border-radius: var(--form-border-radius);
  background-color: var(--form-bg-color);
  padding: var(--form-padding);
  margin: var(--margin);
  margin-top: var(--margin-top);
  width: var(--form-width)
} 

.login-form h1 {
  font-family: var(--secondary-font-family);
  font-size: 3em;
}

input {
    background-color: var(--input-bg-color);
    border: var(--input-border);
    margin: var(--input-margin);
    padding: var(--input-padding)
}