.ingredients-form {
          border: solid rgb(255, 255, 255, 0.5) 1px;
          border-radius: 25px;
          background-color: rgb(255, 255, 255, 0.5);
          padding: 30px 100px;
          margin: auto;
          margin-top: 100px;
          width: 30%
}

.suggestions {
    list-style: none;
}

label {
    font-weight: bolder;
    font-size: 18px;
}

input, select {
    background-color: white;
    border: none;
    color: rgba(30,38,38);
    margin: 10px 0px;
    padding: 5px
}

button {
    background-color: rgba(32, 32, 32);
    border: none;
    padding: 5px 20px;
    color: white;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}

.recipes-list {
    display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      background-color: rgb(32,32,32)
}

.one-recipe {
    width: 25%;
}

.recipes-list img {
    height: 150px;
}

.recipes-list button {
    background-color: red;
}