.navbar {
    background-color: var(--navbar-bg-color);
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    text-decoration: none;
}

.bars {
    height: 4px;
    width: 50px;
    margin: 5px 0px;
    background-color: var(--navbar-text-color);
}

.nav-menu {
    background-color: var(--navbar-bg-color);
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.5s;
}

.nav-menu.active {
    left: 0;
    transition: 0.3s;
}

.nav-text {
    color: var(--navbar-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px 15px 16px;
    height: 60px;
    text-decoration: none;
    width: 85%;
    height: 100%;
    border-radius: 4px;
    font-size: 20px;
    text-transform: uppercase;
}

.nav-text:hover {
    background-color: rgba(64, 64, 64)
}

.nav-menu-items {
    width: 100%;
    list-style: none;
}

.navbar-toggle {
    background-color: var(--navbar-bg-color);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logo img {
    height: 80px;
}

.nav-profile {
    display: flex;
}

.nav-profile img {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin-left: 5px;
}

.contact {
    position: fixed;
    bottom: 20px;
    display: flex;
}

.contact-icon {
    color: var(--navbar-text-color);
    font-size: 1.5em;
    margin: 0px 5px;
}

.contact-icon:hover {
    color: white;
}